In [1]:
import pandas as pd
from __future__ import print_function

C:\Users\Alan\Anaconda\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
data = pd.read_csv("../Data/100tweets.csv")

In [4]:
data.head(1)

,id,"""timestamp""","""lon""","""lat""","""tweet""","""user_id""","""rtwts""","""fvrts""","""application""","""source"""
0,696748471697543168,1454970755,-73.992253,40.704294,A perfect day to take a ride. ðŸ˜Š #newyork #new...,74176662,NaN,NaN,NaN,C_2016_02_08.db

In [10]:
def tweet_toponymer(dataframe,extractor_function):
    dataframe['toponym']=dataframe[' "tweet"'].apply(extractor_function)

In [11]:
from location_extractor import location_extractor as rule_ex

In [12]:
tweet_toponymer(data,rule_ex)

In [14]:
data.head(5)

,id,"""timestamp""","""lon""","""lat""","""tweet""","""user_id""","""rtwts""","""fvrts""","""application""","""source""",toponym
0,696748471697543168,1454970755,-73.992253,40.704294,A perfect day to take a ride. ðŸ˜Š #newyork #new...,74176662,NaN,NaN,NaN,C_2016_02_08.db,[take a ride ðŸ˜Š ]
1,663036103646162944,1446933100,-74.005358,40.787743,I'm at Denise &amp; Chris's Apartment in West ...,34375200,NaN,NaN,NaN,twitter1.db,"[Denise &amp , West New York ]"
2,674598305704321024,1449689744,-73.978917,40.758825,What do I want for xmas ? Based on this pictur...,138747118,NaN,NaN,NaN,twitter1.db,[Rockefeller Center ]
3,696224882397474816,1454845921,-74.003852,40.737570,I love #NYC My friends Malano and Amber meet m...,21791930,NaN,NaN,NaN,DO_2016_02_07_twitter.db,[the ]
4,675850192114081792,1449988217,-73.976389,40.668889,"First batch of my handmade, super moisturizing...",3361757393,NaN,NaN,NaN,twitter1.db,[]